@using Localization.Resources.AbpUi
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<AbpUiResource> L

<a role="button" href="/Deals/Deal/Create" class="inline-flex items-center h-10 px-5 text-white transition-colors duration-150 bg-cyan-800 rounded-lg focus:shadow-outline hover:bg-cyan-500 lg:ml-3 font-bold"
        style="transition: all 0.15s ease 0s;">
    <i class="fas fa-plus w-4 h-4 mr-3 fill-current"></i> <span>Post A Deal</span>
</a>
